{% extends "base.html" %}
{% block title %}url shortener{% endblock %}

{% block content %}
<h2 class="mx-auto">URL Shortener</h2>
<form id="long-url-form">
    <div class="input-group mb-3 rounded w-50">
        <!-- <label for="long-url">Enter URL: </label> -->
        <input type="text" name="" id="long-url" class="form-control" placeholder="Enter URL"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary" id="long-url-submit">submit</button>
        </div>
    </div>
</form>
<div id="short-url" class="font-italic">generated short url</div>
{% endblock %}
