{% extends "base.html" %}
{% block title %}url shortener{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mx-auto">URL Shortener</h2>
    <form id="long-url-form">
        <div class="input-group mb-3 rounded" id="url-input">
            <!-- <label for="long-url">Enter URL: </label> -->
            <input type="text" name="" id="long-url" class="form-control" placeholder="Enter URL"/>
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary" id="long-url-submit">Generate</button>
            </div>
        </div>
    </form>
    <div class="row row-cols-sm-3" id="result">
        <div id="short-url" class="font-italic col"></div>
        <!-- <button class="btn btn-dark btn-outline-light col" id="regen">Regenerate</button> -->
        <button class="btn btn-dark col" id="go">Go to site</button>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
