h2 {
    padding-top: 15px;
}

#long-url-form {
    width: 100%;
}

#url-input {
    width: 50%;
}

#result {
    width: 50%;
}

@media screen and (max-width: 1500px) {
    #url-input {
        width: 70%;
    }

    #result {
        width: 70%;
    }
}

@media screen and (max-width: 1100px) {
    #url-input {
        width: 85%;
    }

    #result {
        width: 85%;
    }
}

@media screen and (max-width: 767px) {
    #url-input {
        width: 100%;
    }

    #result {
        width: 100%;
    }
}

