h2 {
    padding-top: 15px;
}

#long-url-form, #emoji-form {
    width: 100%;
}

#url-input, #emoji-input {
    width: 50%;
}

#result {
    width: 50%;
}

@media screen and (max-width: 767px) {
    #url-input, #emoji-input {
        width: 100%;
    }

    #result {
        width: 100%;
    }
}